:root{
    --purple: #1E1B4B;
    --border: #E2E8F0;
    --side-bg: #F1F5F9;
    --purple-dark: #312E81;
    --purple-light: #5F35EC;
    --primary: #5F35EC;
    --gray: #94A3B8;
    --text-title: #475569;
    --black: #0F172A;
    --info-bg: #F8FAFC;
    --red: #DC2626;
    --hover: #EEF2FF;
}