@use "../styles/variables" as *;

@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
}

.page {
    min-height: 100vh;
    display: flex;
}

hr{
    color: var(--purple-light);
}

button{
    cursor: pointer;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--border);
        border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--gray);
    }

    &::-webkit-scrollbar-button {
        display: none;
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

.chats-sidebar{
    background: var(--side-bg);
    width: 260px;
    height: 100%;
    flex-shrink: 0;
    padding: 16px;
}

.chat-wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: white;
    height: 100%;
    padding-top: 16px;
}

.chat-layout{
    display: flex;
    width: 100%;
}

.header{
    padding: 16px;
    border-bottom: 1px solid var(--border);
}

.chat-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-height: 0;
    overflow: hidden;
}

.btn-svg{
    color: var(--text-title);
    transition: color 0.15s ease;
    &:hover{
        color: var(--primary);
    }
}

.avatar-image-wrapper {
    position: relative;
    width: 24px;
    height: 24px;
}
.avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.network__status {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1.25px white;
    &--online {
        background-color: #10b981;
    }
    &--offline {
        background-color: #94a3b8;
    }
    &--away {
        background-color: #f59e0b;
    }
}

input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid var(--border);
    border-radius: 2px;
    background: var(--background);
    cursor: pointer;
    transition: 0.15s ease;
    display: grid;
    place-content: center;
}

input[type="checkbox"]:checked {
    background: var(--primary);
    border-color: var(--primary);
}

input[type="checkbox"]:checked::after {
    content: "";
    transform: translateY(-0.5px) rotate(-45deg) scale(1);
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 8px;
    height: 4px;
    transition: transform 0.12s ease;
}

.message__attachment{
    max-width: 480px;
}